@use "sass:math";

$fade-duration: 0.4s;
$hover-duration: 0.2s;
$nav-transition: $hover-duration ease;

$base: #444;

$cyan: #00bebd;
$magenta: #ef5285;
$yellow: #eaf000;
$purple: #463c64;
$gray: #bdc3c7;
$cream: #fee9d7;

// sdg colors
@function sdg-color($num) {
  @return map-get($sdg-colors, $num);
}

$sdg-colors: (
  1: #e5243b,
  2: #dda63a,
  3: #4c9f38,
  4: #c5192d,
  5: #ff3a21,
  6: #26bde2,
  7: #fcc30b,
  8: #a21942,
  9: #fd6925,
  10: #dd1367,
  11: #fd9d24,
  12: #bf8b2e,
  13: #3f7e44,
  14: #0a97d9,
  15: #56c02b,
  16: #00689d,
  17: #19486a,
);
